@model dynamic

<section>
    <div class="section">
        <div class="wrap">
            <div class="timelineContainer" style="height: 900px">
                <div 
                    id="timeline" 
                    class="timeline" 
                    data-uri="@ViewData["Timeline"]" 
                    style="width:100%; height:900px">
                </div>
                <script type="text/javascript" src="/plugins/timeline/embed.min.js"></script>
            </div><!-- /.timelineContainer -->
        </div><!-- /.wrap -->
    </div>
</section>