@model dynamic
@{
    ViewData["Title"] = "About the reports";
    ViewData["Description"] = "What are the Medical Officer of Health reports, why were they created, and what can I do with them?";
    ViewData["h1"] = "About the reports";
    ViewData["h2"] = Constants.SiteTitle;
}

<section>
    <div class="section">
        <div class="wrap">

            <ul id="lvlyul" class="breadcrumb" role="navigation">
                <li><a href="/">Home</a></li>
                <li>About the reports</li>
            </ul>


            <div class="group fixed-left">
                <div class="fixed-column">
                    <ul class="section-nav" role="navigation">
                        <li>
                            <a class="current" href="/about-the-reports/">About the reports</a>
                            <ul>
                                <li>
                                    <a href="/about-the-reports/about-the-medical-officer-of-health-reports/">The Medical Officer of Health reports</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/the-health-of-the-people/">The health of the people</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/new-kind-of-medical-professional/">A new kind of medical professional</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/the-changing-face-of-london/">The changing face of London</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/using-the-report-data/">Using the report data</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/timeline/">Health of London timeline</a>
                        </li>
                    </ul>

                </div><!-- /.fixed-column -->
                <div class="fluid-column">
                    <p class="leading">
                        This website allows you to search more than 5500 Medical Officer of Health (MOH) reports from the
                        Greater London area. Find out more about the reports: why they were written; what can be found in them;
                        and who was responsible for their creation.
                    </p>

                    <div class="group third">

                        <div class="column">

                            <h3 class="dominant">
                                <a href="/about-the-reports/about-the-medical-officer-of-health-reports/">The Medical Officer of Health reports</a>
                            </h3>
                            <img src="/assets/img/37745-small.png" class="float-right" alt=" "/>
                            <p>
                                The reports provided statistical data about births, deaths and diseases, but they also allowed the authors
                                to express the diversity of their local communities and their own personal interests.
                            </p>
                            <ul class="related">
                                <li>
                                    <a href="/about-the-reports/about-the-medical-officer-of-health-reports/" class="action font-14">More on the Medical Officer of Health reports</a>
                                </li>
                            </ul>
                        </div><!-- /.column -->

                        <div class="column">

                            <h3 class="dominant">
                                <a href="/about-the-reports/the-health-of-the-people/">The health of the people</a>
                            </h3>
                            <img src="/assets/img/37737-small.png" class="float-right" alt=" "/>
                            <p>
                                The era of the Medical Officer Health saw the emergence of new ways of thinking about the connections
                                between poverty, health and government.
                            </p>
                            <ul class="related">
                                <li>
                                    <a href="/about-the-reports/the-health-of-the-people/" class="action font-14">More on the health of the people</a>
                                </li>
                            </ul>
                        </div><!-- /.column -->

                        <div class="column">

                            <h3 class="dominant">
                                <a href="/about-the-reports/new-kind-of-medical-professional/">A new kind of medical professional</a>
                            </h3>
                            <img src="/assets/img/37741-small.png" class="float-right" alt=" "/>
                            <p>
                                The career of the Medical Officer of Health developed alongside a new public health infrastructure
                                that included new institutions and new health professions.
                            </p>
                            <ul class="related">

                                <li>
                                    <a href="/about-the-reports/new-kind-of-medical-professional/" class="action font-14">More on a new kind of medical professional</a>
                                </li>
                            </ul>
                        </div><!-- /.column -->

                    </div>

                    <div class="group third">

                        <div class="column">

                            <h3 class="dominant">
                                <a href="/about-the-reports/the-changing-face-of-london/">The changing face of London</a>
                            </h3>
                            <img src="/assets/img/37749-small.png" class="float-right" alt=" "/>
                            <p>
                                Many of the&#160;daily concerns&#160;and shifting preoccupations of Londoners&#160;can be
                                seen through the eyes of their Medical Officers of Health.
                            </p>
                            <ul class="related">

                                <li>
                                    <a href="/about-the-reports/the-changing-face-of-london/" class="action font-14">More on the changing face of London</a>
                                </li>
                            </ul>
                        </div><!-- /.column -->

                        <div class="column">

                            <h3 class="dominant">
                                <a href="/about-the-reports/using-the-report-data/">Using the report data</a>
                            </h3>
                            <img src="/assets/img/using-report-data-small.png" class="float-right" alt=" "/>
                            <p>
                                The London Medical Officer of Health (MOH) reports have been photographed cover-to-cover and
                                turned into text using Optical Character Recognition (OCR). This page provides information about
                                using the data in your research.
                            </p>
                            <ul class="related">

                                <li>
                                    <a href="/about-the-reports/using-the-report-data/" class="action font-14">More on using the report data</a>
                                </li>
                            </ul>
                        </div><!-- /.column -->

                    </div>


                </div><!-- /.fluid-column -->
            </div><!-- /.group.fixed-left -->
        </div><!-- /.wrap -->
    </div><!-- /.section -->
</section>