@model dynamic
@{
    ViewData["Title"] = "A new kind of medical professional";
    ViewData["Description"] = "Medical Officer of Health reports give statistical data about births, deaths and diseases, as well as information on local communities and daily life.";
    ViewData["h1"] = "A new kind of medical professional";
    ViewData["h2"] = Constants.SiteTitle;
}


<section>
    <div class="section">
        <div class="wrap">
            <ul id="lvlyul" class="breadcrumb" role="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/about-the-reports/">About the reports</a></li>
                <li>A new kind of medical professional</li>
            </ul>


            <div class="group fixed-left">
                <div class="fixed-column">
                    <ul class="section-nav" role="navigation">
                        <li>
                            <a href="/about-the-reports/">About the reports</a>
                            <ul>
                                <li>
                                    <a href="/about-the-reports/about-the-medical-officer-of-health-reports/">The Medical Officer of Health reports</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/the-health-of-the-people/">The health of the people</a>
                                </li>
                                <li>
                                    <a class="current" href="/about-the-reports/new-kind-of-medical-professional/">A new kind of medical professional</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/the-changing-face-of-london/">The changing face of London</a>
                                </li>
                                <li>
                                    <a href="/about-the-reports/using-the-report-data/">Using the report data</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/timeline/">Health of London timeline</a>
                        </li>
                    </ul>

                </div><!-- /.fixed-column -->
                <div class="fluid-column track-link">
                    <p class="leading">
                        The career of the Medical Officer of Health developed alongside a new public health 
                        infrastructure that included new institutions and new health professions.
                    </p>
                    <div id="contGroup" class="group fixed-right">
                        <div class="fluid-column">

                            <div class="figure">
                                <figure>
                                    <img src="/assets/img/clarks-cottages.jpg" alt="Man climbing staircase"/>
                                    <figcaption>
                                        <div class="caption">
                                            <p>
                                                <a title="Wanstead and Woodford, 1949" href="/report/b1987862x/18">Illustrations 
                                                    of Clark's Cottages, Woodford Bridge, now demolished. 
                                                    MOH report for&nbsp;Wanstead and Woodford 1949</a>.
                                            </p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>

                            <p>
                                The Medical Officer of Health (MOH) reports provide evidence that behind the 
                                high-profile medical advances of the 19th and 20th centuries, the vast improvement 
                                in the nation's health was largely the result of the bread and butter of public health: 
                                clean water, adequate sewerage, immunisation, better housing and improved diets.
                            </p>
                            <p>
                                And yet, despite their pivotal role in improving Britain's health, MOHs were always the 
                                poor cousin within the world of medicine. The 
                                <a title="1857 Report for Westminster" href="/report/b18248354/1">early reports</a> paid 
                                more attention to details of soil type, drainage and "atmospheric and meteorological 
                                peculiarities" than they did to medical concerns. This was not the world of London's 
                                leading hospital surgeons: it took a certain kind of doctor to accept that it was 
                                unpolluted water and decent housing rather than medical skill which would benefit 
                                the bulk of the populace.
                            </p>
                            <p>
                                In insisting on the link between public health and the politics of poverty, MOHs 
                                commonly faced fierce local opposition. Local politicians were often also the traders, 
                                industrialists and landlords that MOHs were trying to act against. As late as 1919, 
                                one anonymous MOH complained in the professional publication 'The Medical Officer' that:
                            </p>
                            <blockquote dir="ltr">
                                <p>
                                    one of the most vexatious incidents that can occur… is the censoring or attempted 
                                    censoring of his annual report by members of the council… but in matters of public 
                                    health the private feelings of interested parties should be of less than no account.
                                </p>
                            </blockquote>
                            <p dir="ltr">
                                In the second half of the 19th century, public health became increasingly 
                                professionalised: the Association of Metropolitan Medical Officers of Health was formed 
                                in 1856, a year after new legislation reorganised London into 48 districts, each with 
                                its own MOH. Professional knowledge was disseminated in the often lively exchanges in 
                                'Public Health' and later in 'The Medical Officer'.
                            </p>
                            <p>
                                The creation of the Ministry of Health (1919) ushered in what we can now see as the 
                                zenith of MOHs' influence and responsibility. A series of permissive Acts passed over 
                                the next decade allowed councils for the first time to create 'cradle-to-grave' 
                                provision of health and welfare benefits, including:
                            </p>
                            <ul>
                                <li>
                                    <a title="1927 MOH report for Lambeth" href="/report/b18239584/19">free milk for infants and mothers</a>
                                </li>
                                <li>venereal disease treatment</li>
                                <li>sanatorium care for tubercular patients</li>
                                <li>full general hospitals free from the taint of the Poor Law.</li>
                            </ul>
                            <p>
                                These years saw proactive councils (often Labour), supported by energetic MOHs, 
                                overseeing large departments that managed slum clearances and new hospital and clinic 
                                building programmes and an ever-widening range of municipal health professionals, such 
                                as midwives, health visitors, school doctors, sanitary inspectors, pathologists, 
                                bacteriologists and tuberculosis specialists.
                            </p>
                            <p>
                                During World War II, the government assumed an unprecedented and pivotal role in all 
                                areas of the Home Front, with the creation of the 
                                <a title="Creation of the Emergency Medical Service" href="/timeline/#35220">Emergency Medical Service</a> 
                                giving it a degree of power it had never before possessed. Although forged in war, the 
                                new ascendancy of central government was carried through into the postwar construction 
                                of the welfare state.
                            </p>
                            <p>
                                The creation of the National Health Service not only indicated a profound shift in the 
                                balance between central and local government, but also precipitated the decline in the 
                                influence of MOHs. Shorn of their active medical functions, local authority health 
                                departments were reduced to managing a rump of sanitary, housing and environmental 
                                health services, with occasional forays into the issue of 'problem families'. Indeed, 
                                the last years of MOH reports, with their discussion of unfit properties, housing 
                                improvements, food sampling and disinfestation, share more in common with their 
                                mid-19th-century counterparts than the heady days of the 1930s.
                            </p>
                            <h4 class="separator">
                                Find out more
                            </h4>
                            <ul>
                                <li>Engineer, A. <a title="Illustrations from the Wellcome Library"
                                                    href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1044700/pdf/medhist00012-0103.pdf" target="_blank">
                                    Illustrations from the Wellcome Library: The Society of Medical Officers of Health: Its Story and its Archive
                                </a>. Med Hist, 2001; 45(1): 97-114. </li>
                                <li>The <a title="Public health subject guide" href="http://wellcomelibrary.org/collections/archive-guides/public-health/">Public Health subject guide</a> 
                                    to archives in the Wellcome Library lists many sources, including the papers of the 
                                    Society of Medical Officers of Health and the personal papers of some individual 
                                    medical officers.&nbsp;</li>
                                <li>Lambert, R. Sir John Simon, 1816-1904: and English social administration. London: 
                                    MacGibbon &amp; Kee; 1963. <a title="Catalogue record: John Simon and English social administration" href="http://search.wellcomelibrary.org/iii/encore/record/C__Rb1013398__Sjohn%20simon%20administration__Orightresult__U__X2?lang=eng&suite=cobalt">Available in the Wellcome Library</a>.</li>
                                <li>Welshman, J. The medical officer of health in England and Wales, 1900-74: watchdog 
                                    or lapdog? J Public Health Med, 1997; 19(4): 1095-1105.</li>
                            </ul>


                        </div><!-- /.fluid-column -->
                        <div id="rhsCol" class="fixed-column">


                            <h4 class="separator">Report highlight</h4>
                            <a class="promo purple" href="/report/b1824404x/6">
                                <div class="contents">
                                    <img src="/assets/img/37493.jpg" alt="John Simon’s first report "/>
                                    <h4>John Simon’s first report </h4>
                                    <p class="meta">1849</p>
                                </div>

                            </a><!-- /.promo.xxx -->


                            <h4 class="separator">In The Timeline</h4>
                            <a href="/timeline/#35190" class="promo blue img closer">
                                <div class="contents">
                                    <h4><strong>1919:</strong> Formation of Ministry of Health</h4>
                                </div>
                                <img src="/assets/timelines/moh/37858.jpg" width="240" alt="Formation of Ministry of Health"/>
                            </a><!-- /.promo.blue.img.closer -->

                            <p>
                                <a href="/timeline/#35190"  class="action muted">Open the timeline</a>
                            </p>


                        </div><!-- /.fixed-column -->
                    </div><!-- /.group.fixed-right -->


                    <!-- wl:SocialLinks was here -->
                </div><!-- /.fluid-column -->
            </div><!-- /.group.fixed-left -->
        </div><!-- /.wrap -->
    </div><!-- /.section -->
</section>