@model dynamic
@{
    ViewData["Title"] = "The health of the people";
    ViewData["Description"] = "Medical Officer of Health reports give statistical data about births, deaths and diseases, as well as information on local communities and daily life.";
    ViewData["h1"] = "The health of the people";
    ViewData["h2"] = Constants.SiteTitle;
}

<section>
    <div class="section">
        <div class="wrap">

            <ul id="lvlyul" class="breadcrumb" role="navigation">
                <li><a href="/moh/">Home</a></li>
                <li><a href="/moh/about-the-reports/">About the reports</a></li>
                <li>The health of the people</li>
            </ul>


            <div class="group fixed-left">
                <div class="fixed-column">
                    <ul class="section-nav" role="navigation">
                        <li>
                            <a href="/moh/about-the-reports/">About the reports</a>
                            <ul>
                                <li>
                                    <a href="/moh/about-the-reports/about-the-medical-officer-of-health-reports/">The Medical Officer of Health reports</a>
                                </li>
                                <li>
                                    <a class="current" href="/moh/about-the-reports/the-health-of-the-people/">The health of the people</a>
                                </li>
                                <li>
                                    <a href="/moh/about-the-reports/new-kind-of-medical-professional/">A new kind of medical professional</a>
                                </li>
                                <li>
                                    <a href="/moh/about-the-reports/the-changing-face-of-london/">The changing face of London</a>
                                </li>
                                <li>
                                    <a href="/moh/about-the-reports/using-the-report-data/">Using the report data</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/moh/timeline/">Health of London timeline</a>
                        </li>
                    </ul>

                </div><!-- /.fixed-column -->
                <div class="fluid-column track-link">
                    <p class="leading">
                        The era of the Medical Officer Health saw the emergence of new ways of thinking about the 
                        connections between poverty, health and government.
                    </p>
                    <div id="contGroup" class="group fixed-right">
                        <div class="fluid-column">


                            <div class="figure">
                                <figure>
                                    <img src="/moh/img/immunizing.jpg" alt="Man administering a vaccine to a smiling girl."/>
                                    <figcaption>
                                        <div class="caption">
                                            <p>
                                                <a title="Ealing 1962" href="/moh/report/b19788228/104">Immunizing session 
                                                    using the 'needleless injector'. MOH report for&nbsp;Ealing, 1962</a>.
                                            </p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>

                            <p>
                                On November 6 1849, John Simon, the newly appointed 
                                Medical Officer of Health (MOH) for the City of London, opened 
                                <a title="John Simon first report" href="/moh/report/b1824404x/6#?asi=0&ai=6">his first annual report</a>:
                            </p>
                            <blockquote dir="ltr">
                                <p>
                                    Gentlemen, During the 52 weeks dating from October 1st 1848, to September 29th, 1849, 
                                    there died of the population of the City of London 3,799 persons.
                                </p>
                            </blockquote>
                            <p>
                                With this statement Simon was making history. For the first time the health of the 
                                nation's capital would be systematically recorded and published for anyone to see. The 
                                mortality rates of richer areas could be set alongside those of poorer ones; year by 
                                year, these were tied to issues of slum housing, water supply, sewerage and the 
                                uncontrolled activities of a myriad of London trades and industries.
                            </p>
                            <p>
                                And this was not simply knowledge for knowledge's sake. These problems signalled that 
                                parish-level responses and a laissez-faire government were inadequate when faced with 
                                the challenges of rapid industrialisation. This was the era of Parliamentary reform and 
                                the New Poor Law, a time when elites started being forced to accept that new solutions 
                                were needed to face the realities of an increasingly urbanised landscape.
                            </p>
                            <p>
                                Seen in this light, the MOH reports are but one part of a far bigger story, one in 
                                which new ways of thinking about the connections between poverty, health and government 
                                emerged. It is in the MOH reports that we can track the move away from contemporary 
                                journalistic descriptions of the poverty and chaos of the ever-expanding London. 
                                Building on the work of the doctor and statistician 
                                <a title="1839: William Farr" href="/moh/timeline//#35039">William Farr</a> as much as on 
                                <a title="1842: Report on the sanitary condition of the labouring popution" 
                                   href="/moh/timeline/#35046">Edwin Chadwick's sanitary studies</a>, the reports were a 
                                declaration that infectious diseases and the ill health of the poor might be measured, 
                                understood and brought under control through state intervention. This attitude paved the 
                                way not only for systematic medical investigation, but also for the rise of broad-scale 
                                sociological investigations such as 
                                <a title="Charles Booth Surveys of London" 
                                   href="http://booth.lse.ac.uk/">Charles Booth's surveys of London</a>.
                            </p>
                            <p>
                                The late 19th century saw the emergence of local government both as a response to the 
                                need to bring Britain's cities under control and as a means of engaging with an 
                                expanding, and unknown, electorate. MOHs - with a remit which very quickly covered 
                                everything from condemning slum housing and prosecuting owners of unsafe or unsanitary 
                                factories to infectious disease control, immunisation and inspection of foodstuffs - 
                                were at the heart of this project.
                            </p>
                            <p>
                                More than six decades after the 
                                <a title="1948: Creation of the NHS" href="/moh/timeline/#35223">creation of the National Health Service</a> 
                                we perhaps take central control of health services for granted. However, before the 
                                mid-20th century Britain's emerging health system had been entirely based on local 
                                responses to local needs. So, despite the creation of 
                                <a title="1871: Local Government Board" href="/moh/timeline/#35116">first the Local Government Board</a> 
                                and then the <a title="1919: Ministry of Health" href="/moh/timeline/#35190">Ministry of Health</a> 
                                to oversee the work of local authorities, these departments in fact had very little 
                                real power: legislation was permissive, and it was down to persistent MOHs or motivated 
                                councils to use the new powers. The reports often are revealing of the competing agendas 
                                within which MOHs were required to work: we don't just see the mechanical implementation 
                                of central government policy, but rather how local areas and individual MOHs chose to 
                                interpret, enact or indeed ignore new legislation.
                            </p>
                            <h4 class="separator">
                                Find out more
                            </h4>
                            <ul>
                                <li>The <a title="Public health subject guide" 
                                           href="http://wellcomelibrary.org/collections/archive-guides/public-health/">Public Health subject guide</a> 
                                    to archives in the Wellcome Library lists many sources, including the papers of the 
                                    Society of Medical Officers of Health and the personal papers of some individual 
                                    medical officers. </li>
                                <li><a title="HHARP" href="http://www.hharp.org/" target="_blank">Historical Hospital 
                                        Admission Records Project</a> (HHARP) provides online access to the admissions 
                                    registers for several children’s hospitals in London and Glasgow. The registers 
                                    provide details about the children, their diagnosis and results of treatment.</li>
                                <li>The London Metropolitan Archives’s 
                                    <a title="Care of the sick, dispossessed and destitute website" 
                                       href="http://www.cityoflondon.gov.uk/things-to-do/visiting-the-city/archives-and-city-history/london-metropolitan-archives/the-collections/Pages/care-of-the-sick.aspx" target="_blank">Care of the sick, dispossessed and destitute website</a> 
                                    provides an overview of their holdings on London’s health.</li>
                                <li>
                                    The National Archives provide research guides to their holdings on:
                                    <ul>
                                        <li>
                                            <a title="Health and social policy" 
                                               href="http://www.nationalarchives.gov.uk/records/research-guides/interwar-health.htm" target="_blank">Health and social policy 1919-1939&nbsp;</a>
                                        </li>
                                        <li>
                                            <a title="public health epidemics" 
                                               href="http://www.nationalarchives.gov.uk/records/research-guides/public-health-epidemics.htm" target="_blank">Public health and epidemics in the 19th and 20th centuries</a>
                                        </li>
                                    </ul>
                                </li><li>Stewart, J.&nbsp;‘<a title="For a healthy London" 
                                                              href="http://europepmc.org/articles/PMC1043937?pdf=render" 
                                                              target="_blank">For a Healthy London’: the Socialist Medical Association and the London County Council in the 1930s</a>. 
                                    Med Hist, 1997; 41(4): 417-436.</li>
                                <li>Stewart, J. The Finest Municipal Hospital Service in the World?: Contemporary 
                                    Perceptions of the London County Council’s Hospital Provision, 1929-1939. Urban 
                                    History, 2005; 32(2): 327-344. 
                                    <a title="Catalogue record: Urban History e-journal" 
                                       href="http://search.wellcomelibrary.org/iii/encore/record/C__Rb1996663__Surban%20history__Orightresult__X8?lang=eng&suite=cobalt">Available in the Wellcome Library</a>.</li>
                            </ul>


                        </div><!-- /.fluid-column -->
                        <div id="rhsCol" class="fixed-column">


                            <h4 class="separator">Report highlight</h4>
                            <a class="promo black" href="/moh/report/b19784387">
                                <div class="contents">
                                    <img src="/moh/img/37547.jpg" alt="John and Mary"/>
                                    <h4>John and Mary</h4>
                                    <p class="meta">the MOH report for Barking, 1948</p>
                                </div>

                            </a><!-- /.promo.xxx -->


                            <h4 class="separator">In The Timeline</h4>
                            <a href="/moh/timeline/#35046" class="promo blue img closer">
                                <div class="contents">
                                    <h4><strong>1842:</strong> 
                                        Report on the Sanitary Condition of the Labouring Population of Great Britain</h4>
                                </div>
                                <img src="/assets/timelines/moh/37877.jpg" width="240" 
                                     alt="Report on the Sanitary Condition of the Labouring Population of Great Britain"/>
                            </a><!-- /.promo.blue.img.closer -->

                            <p>
                                <a href="/moh/timeline/#35046"  class="action muted">Open the timeline</a>
                            </p>


                        </div><!-- /.fixed-column -->
                    </div><!-- /.group.fixed-right -->


                    <!-- wl:SocialLinks was here -->
                </div><!-- /.fluid-column -->
            </div><!-- /.group.fixed-left -->
        </div><!-- /.wrap -->
    </div><!-- /.section -->
</section>